/* General elements */

body {
    background-image: url("../images/background(1).jpeg");
    text-align: center;
    font-family: fantasy;
    color: gold;
}

div {
    background-color: rgb(56, 161, 64);
    text-align: center;
    margin: 15px;
    width: 25%;
}

div {
    border: solid 2px antiquewhite;
    padding: 10px;
}

h1,
h3,
span {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 30pt;
}

ol {
    list-style: decimal inside;
}

ul {
    list-style: disc inside;
    text-indent: 20px;
}


/* Specific elements */

div.header,
div.gems {
    background-color: rgb(62, 214, 138);
}

div.header,
div.instructions {
    width: 50%,
}


/* Classes */

.numberToMatch,
.winsAndLosses {
    float: left;
    width: 15%;
    height: 70px;
    overflow: auto;
    /* object-fit: contain; */
}

.userTotal {
    width: 15%;
    height: 60px;
    overflow: auto;
}

.gems {
    clear: both;
}

.gemImage {
    background: transparent;
    height: 60px;
    margin: 10px;
}


/* ID's */

#blue {
    color: darkslateblue;
}

#green {
    color: limegreen;
}

#red {
    color: lightcoral;
}

#yellow {
    color: yellow;
}

@media screen and (max-width: 980px) {
    body {
        background-color: rgb(56, 161, 64);
        margin: 15px;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: lightgreen
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: lightcoral
    }
}